.aboutMeCard {
    width: 260px;
    background: linear-gradient(90deg, rgba(125, 165, 238, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.picture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
}

.picture img {
    max-width: 100%;
}